{
  "options": {
    "paths": {
      "root": "",
      "styles": "styles",
      "fonts": "fonts",
      "mbtiles": "/mnt/data"
    }
  },
  "styles": {
    "osm-bright": {
      "style": "osm-bright/style.json"
    }
  },
  "data": {
    "osm": {
      "mbtiles": "features/osm/osm.mbtiles"
    }
  }
}
