# 
# KARGO
#
# This is the .env file to set up your kargo environment

DOMAIN=your-domain (kalisio.xyz)
AUTH_USER=your authentication identity to access the services
AUTH_PASSWORD=your authentication password to access the services. It must be encrypted in SHA1
S3_ACCESS_KEY=your access key id to access S3
S3_SECRET_ACCESS_KEY=your secret key to access S3

# Docker network to be used
DOCKER_NETWORK=kargo

# Services to be deployed
APPS_STACK="tileservergl mapproxy mapputnik"
DBS_STACK="mongodb"
WEACAST_STACK="arpege-world arpege-europe arome-france gfs-world"
KRAWLERS_STACK="vigicrues teleray"

#
# TileserverGL configuration
#
TILESERVERGL_IMAGE="klokantech/tileserver-gl"
TILESERVERGL_TAG="v2.3.1"
TILESERVERGL_DATA="/mnt/data"

#
# Maputnik Configuration
#
MAPUTNIK_IMAGE="kalisio/k-maputnik"
MAPUTNIK_TAG="0.1.0"

#
# MapProxy configuration
#
MAPPROXY_IMAGE="yagajs/mapproxy"
MAPPROXY_TAG="1.11-alpine"
MAPPROXY_DATA="/mnt/data"

#
# CesiumTerrainServer
#
CESIUMTERRAINSERVER_IMAGE="geodata/cesium-terrain-server"
CESIUMTERRAINSERVER_TAG="latest"
CESIUMTERRAINSERVER_DATA="/mnt/data/tilesets/terrain"

#
# Postgis configuration
#
POSTGIS_IMAGE="mdillon/postgis"
POSTGIS_TAG="9.6-alpine"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

#
# GeoServer configuration
#
GEOSERVER_VERSION=2.12.1
GEOSERVER_PLUGINS="css grib netcdf pyramid vectortiles gdal ogr-wfs printing importer control-flow"
GEOSERVER_DATA="/mnt/data"

#
# MongoDB configuration
#
MONGODB_IMAGE="mongo"
MONGODB_TAG="3.6.5"

#
# Teleray configuration
#
TELERAY_IMAGE="kalisio/k-teleray"
TELERAY_TAG="0.1.0"
TELERAY_S3_BUCKET="kargo"

#
# Vigicrues configuration
#
VIGICRUES_IMAGE="kalisio/k-vigicrues"
VIGICRUES_TAG="0.1.0"
VIGICRUES_S3_BUCKET="kargo"

#
#  Weacast configuration
#
WEACAST_ARPEGE_WORLD_TAG="latest"
WEACAST_ARPEGE_EUROPE_TAG="latest"
WEACAST_AROME_FRANCE_TAG="latest"
WEACAST_GFS_WORLD_TAG="latest"

