# 
# KARGO
#
# This is the .env file to set up your kargo environment

DOMAIN=your-domain (i.e. kalisio.xyz)
SUBDOMAIN=kargo.$DOMAIN (kargo.kalisio.xyz)
AUTH_USER=your authentication identity to access the services
AUTH_PASSWORD=your authentication password to access the services. It must be encrypted in SHA1
SECRET=the secret key to generete JWT. It used by the applications KANO/WEACAST
DB_URL=mongodb://mongodb:27017/kargo

# Docker configuration
DOCKER_NETWORK=kaabah

# S3 configuration
S3_ACCESS_KEY=your access key id to access S3
S3_SECRET_ACCESS_KEY=your secret key to access S3

# Services to be deployed
STACKS="dbs ows weacast vigicrues jobs seeder apps"
DBS_STACK="mongo postgis"
OWS_STACK="tileservergl mapproxy geoserver thredds k2"
WEACAST_STACK="weacast arpege-world-loader arpege-europe-loader arome-france-loader gfs-world-loader"
VIGICRUES_STACK="vigicrues-stations vigicrues-observations vigicrues-sections"
JOBS_STACK="teleray"
SEEDER_STACK="seeder"
APP_STACK="maputnik kano"

#
# GeoServer 
#
GEOSERVER_PLUGINS="css grib netcdf pyramid vectortiles gdal ogr-wfs printing importer control-flow"

#
# MapProxy
#
MAPPROXY_REPLICAS=2

#
# Seeder
# 
DOCKER_HOST_IP=172.31.42.147

#
#  Weacast 
#
WEACAST_MODELS="arpege-world arpege-europe arome-france gfs-world"
