#
# GeoServer
# http://docs.geoserver.org/latest/en/user/datadirectory/structure.html
#
/configs/geoserver/logs
/configs/geoserver/legendsamples/

#
# MapProxy
# https://mapproxy.org/docs/latest/configuration.html
#
/configs/mapproxy/app.py
/configs/mapproxy/cache_data/

#
# TileServer-GL
# No extra files generated
#


