#
# GeoServer
# http://docs.geoserver.org/latest/en/user/datadirectory/structure.html
#
/config/geoserver/logs
/config/geoserver/legendsamples/

#
# MapProxy
# https://mapproxy.org/docs/latest/configuration.html
#
/config/mapproxy/app.py
/config/mapproxy/cache_data/

#
# TileServer-GL
# No extra files generated
#


