# Visual code
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Kargo
.env

# Node
node_modules

# VuePress
docs/.vuepress/dist

# Mapproxy
configs/mapproxy/app.py

# Weacast
# Generated deploy file
deploy/weacast-arpege-world.yml
deploy/weacast-arpege-europe.yml
deploy/weacast-arome-france.yml
deploy/weacast-gfs-world.yml

