apiVersion: apps/v1
kind: Deployment
metadata:
  name: overpass-api
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: overpass-api
  template:
    metadata:
      labels:
        app: overpass-api
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: overpass-api
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.containerPort }}
          volumeMounts:
            - name: db
              mountPath: /db
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - >
                  curl --noproxy '*' -qfsS 'http://localhost/api/interpreter?data=%5Bout:json%5D;node(1);out;' |
                  jq '.generator' | grep -q Overpass
            periodSeconds: 10
            failureThreshold: 17280  # 48 hours
          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
      volumes:
        - name: db
          persistentVolumeClaim:
            claimName: overpass-api-db
