# Default values for mongodb-operated.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# number of replicas in the replicaset of mongodb
replicaCount: 1

# overide mongodb version
# ex version: appVersion: "7.0.14"
version: ""

image:
  # warning : there is difference with classical helm chart
  # repository image is managed by the operator
  # tag is manage by appVersion
  pullPolicy: IfNotPresent
  # special case of ASNR
  # suffix of the docker image tag
  # see quay.io/repository/mongodb/mongodb-community-server
  #type: ""

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []


# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
# currenty, at ASNR, a kyverno policy automatically created the service account
# role and role binding
serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

resources:
  # resources value for the replicas must be adjusted given the environment
  # staging, preprod, prod
  limits:
    cpu: "2"
    memory: 2Gi
  requests:
    cpu: 100m
    memory: 200Mi

# configuration for container mongo-agent
agent:
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # resources specific to agent
  resources:
    limits:
      cpu: "1"
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 100Mi

# pvc configuration
# specify size and storage class for data volume and backup volume
pvc:
  data:
    storageClass: ""
    size: 10Gi
  backup:
    storageClass: ""
    size: 10Gi

# user configuration
# this fied is used to fill the `spec.users` field from the MongoDBCommunity
# ressource
# the root must be included
# spec: https://github.com/mongodb/mongodb-kubernetes/blob/master/docs/mongodbcommunity/users.md#modify-the-mongodbcommunity-resource
users:
# example
# - name: user
#   db: mydb
#   secretName: mysecret
#   secretKeyPassword: secret-user-password
#   roles:
#   - name: readWrite
#     db: mydb
#   - name: clusterMonitor
#     db: admin
#    scramCredentialsSecretName: scram-user
