global:
  # subdomain to be used when computing the ingress host
  subdomain: ""
  # certIssuer to assign to the ingress cert-manager annotation
  certIssuer: ""
  # secret where to share sentitive environment variables
  secret: ""

# commonAnnotations are annotations to be added to all resources (sub-charts are not considered). Evaluated as a template
commonAnnotations: {}

# commoneLabels are labels to be added to all resources (sub-charts are not considered). Evaluated as a template
commonLabel: {}

# replicatCount is the number of replicas
replicaCount: 1

image:
  repository: kalisio/print
  tag: ""
  pullPolicy: IfNotPresent

# forceRestart forces the pod to be restarted when upgrading the chart
forceRestart: false

service:
  enabled: true
  type: ClusterIP
  port: 8081 # port on which we expose service
  annotations: {}

ingress:
  enabled: true
  className: nginx

distribution:
  # enabled specifies whether or not to use distribution
  enabled: false

# resources are resource requests and limits to be applied
resources: {}

# default security context, run as non root uid 1000
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000

env:
  # appSecret specifies the application secret
  appSecret: 
    secret: ""
    key: ""
  # dbUrl specifies the application database connection string 
  dbUrl:
    secret: ""
    key: ""
  # keycloakClientId specifies the keycloak authentication client id
  keycloakClientId: ""
  # keycloakSecret specifies the keycloak authentication client secret
  keycloakSecret:
    secret: ""
    key: ""
  # debug specified the list of backend modules for which the output is enabled
  debug: ""