# my global config
global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'Prometheus'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  - 'rules/*.yml'

# alert
alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - "alertmanager:9093"

# A scrape configuration containing exactly one endpoint to scrape:
scrape_configs:
  # - job_name: 'prometheus'
  #   static_configs:
  #     - targets: ['localhost:9090']

  # # scrape docker daemons
  # - job_name: 'docker'
  #   dockerswarm_sd_configs:
  #     - host: tcp://docker-socket-proxy:2375
  #       role: nodes
  #   relabel_configs:
  #     - source_labels: [__meta_dockerswarm_node_address]
  #       target_label: __address__
  #       replacement: $1:9323
  #     - source_labels: [__meta_dockerswarm_node_hostname]
  #       target_label: instance

  # discover node-exporter jobs
  # node-exporter is run as global service in the swarm
  - job_name: 'node-exporter'
    dockerswarm_sd_configs:
      - host: tcp://docker-socket-proxy:2375
        role: tasks
        port: 9100
    relabel_configs:
      # Only keep containers with a labeled with `prometheus.job=node-exporter`.
      - source_labels: [__meta_dockerswarm_service_label_prometheus_job]
        regex: node-exporter
        action: keep
      # Only keep containers that should be running.
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep
      # Replace 'instance' with docker node hostname instead of docker's internal adress
      - source_labels: [__meta_dockerswarm_node_hostname]
        target_label: instance

  # discover cadvisor jobs
  # cadvisor is run as global service in the swarm
  - job_name: 'cadvisor'
    dockerswarm_sd_configs:
      - host: tcp://docker-socket-proxy:2375
        role: tasks
        port: 8080
    relabel_configs:
      # Only keep containers with a labeled with `prometheus.job=cadvisor`.
      - source_labels: [__meta_dockerswarm_service_label_prometheus_job]
        regex: cadvisor
        action: keep
      # Only keep containers that should be running.
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep
      # Replace 'instance' with docker node hostname instead of docker's internal adress
      - source_labels: [__meta_dockerswarm_node_hostname]
        target_label: instance
    metric_relabel_configs:
      # Produce readable stack names
      - source_labels: [container_label_com_docker_swarm_service_name]
        target_label: container_label_com_docker_stack_namespace
        regex: kargo-([^_]+)_.*
      # Produce readable service names
      - source_labels: [container_label_com_docker_swarm_service_name]
        target_label: container_label_com_docker_swarm_service_name
        regex: kargo-[^_]+_(.*)
      # Drop some labels we don't care about
      - regex: name|id|image
        action: labeldrop
