{
  "options": {
    "paths": {
      "root": "",
      "styles": "styles",
      "fonts": "fonts",
      "sprites": "sprites",
      "mbtiles": "path_to_mbtiles"
    }
  },
  "styles": {
    "osm": {
      "style": "osm.json"
    }
  },
  "data": {
    "osm": {
      "mbtiles": "path_to_osm.mbtiles"
    }
  }
}
